.container {
    width: 100%;
    height: auto;

    /* margin-top: 87px; */

    padding-top: 60px;

    background: inherit;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    color: var(--text-color);
}

.title h2 {
    font-size: 28px;
}

.imageCompanies {
    display: flex;
    gap: 60px;
}

.imageCompanies img {
    width: auto;
    height: 55px;
}

@media screen and (max-width: 885px) {
    .container {
        padding-inline: 20px;
    }

    .title h2 {
        text-align: center;
    }

    .imageCompanies {
        gap: 40px;
    }

    .imageCompanies {
        gap: 20px;
    }
}

@media screen and (max-width: 686px) {
    .imageCompanies {
        width: 100%;

        justify-content: space-between;
    }

    .imageCompanies img {
        width: auto;
        height: 40px;
    }
}

@media screen and (max-width: 600px) {
    .title h2 {
        font-size: 25px;
    }

    .imageCompanies {
        width: 100%;

        gap: 0;

        justify-content: space-between;
    }

    .imageCompanies img {
        height: 30px;
    }
}

@media screen and (max-width: 400px) {
    .imageCompanies img {
        height: 27px;
    }
}