.container {
    background: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    padding-top: 60px;

    /* margin-top: 47px; */
}
.video {
	width: 327px;
	height: auto;
	
    display: block;

    border-radius: 10px;
}