* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Figtree", sans-serif;
}

:root {
  --gradient-orange: linear-gradient(90deg, #D49C10 0%, #E9E05F 100%); 
  
  --text-color: #fff;
}

body, html {
  overflow-x: hidden;
}