.container {
    width: 370px;
    
    border-bottom: 15PX solid #D49C10;
    border-radius: 10px;

    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container img {
    width: 35px;
    height: auto;
}

.container p {
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    .container p {
        font-size: 16px;
    }
}
